<section class="content">

  <div class="container-fluid">

    <div class="card">

      <div class="card-header">

        <div class="row">

          <div class="col-sm-6">

            <button
              type="button"
              class = "btn btn-block bg-gradient-primary"
              [routerLink]="param.routerLink">Novo</button>

          </div>

          <div class="col-sm-7">

            <h3 class="card-title"></h3>

          </div>

          <div class="col-sm-6">

            <input
              type="text"
              class="form-control"
              id="buscar"
              placeholder="O que você procura ?">

          </div>

        </div>

      </div>

      <div class="card-body p-0">

        <table class="table table-striped">

          <thead>

            <tr>

              <th style="width: 10px">#</th>

              <th>Nome</th>

              <th style="width: 40px">Ações</th>

            </tr>

          </thead>

          <tbody *ngIf="lista.length > 0, else semRegistros">

            <tr *ngFor="let dado of lista">

              <td>{{ dado.id }}.</td>

              <td>{{ dado.nome }}</td>

              <td>

                <app-excluir [dado]="dado", [param]="param"></app-excluir>

              </td>

            </tr>

          </tbody>

        </table>

      </div>

    </div>

  </div>

</section>

<ng-template #semRegistros>

  <tbody>

    <tr><td colspan="3" align="center">Ainda não há registros cadastrados!</td></tr>

  </tbody>

</ng-template>
