<section class="content-header">
  <div class="container-fluid">
  <div class="row mb-2">
  <div class="col-sm-6">
  <h1>General Form</h1>
  </div>
  <div class="col-sm-6">
  <ol class="breadcrumb float-sm-right">
  <li class="breadcrumb-item"><a href="#">Home</a></li>
  <li class="breadcrumb-item active">General Form</li>
  </ol>
  </div>
  </div>
  </div>
  </section>


<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <div class="card card-primary">
          <div class="card-header">
            <h3 class="card-title">Novo usuário</h3>
          </div>

          <form [formGroup]="formulario">

            <div class="card-body">
              <div class="form-group">
                <label for="exampleInputEmail1">Nome</label>

                <input type="text" class="form-control"
                id="nome"
                formControlName="nome"
                placeholder="Informe o seu nome completo">

<div *ngIf="formulario.get('nome')?.errors?.['required'] && formulario.get('nome')?.touched">
  toastr.info('Are you the 6 fingered man?')
</div>



<div *ngIf="formulario.get('nome')?.errors?.['minlength'] && formulario.get('nome')?.touched">
  <div class="toast bg-danger fade show" role="alert" aria-live="assertive" aria-atomic="true"><div class="toast-header"><strong class="mr-auto">Toast Title</strong><small>Subtitle</small><button data-dismiss="toast" type="button" class="ml-2 mb-1 close" aria-label="Close"><span aria-hidden="true">×</span></button></div><div class="toast-body">3 caracteres.</div></div>
</div>



              </div>
            </div>
            <div class="card-footer">
              <button type="submit" class="btn btn-primary"

              [disabled]="!formulario.valid"

              (click)="criar()"
              >Submit</button>
              <button type="submit" class="btn btn-primary"


              >Cancelar</button>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>
</section>
